

<dialog >
    <h6>Do you really want to delete this student? </h6>
    <p class="text-danger">@ViewData["ErrorMessage"]</p>
    <form id="delete-form">
        <button type="reset">No</button>
        <button type="submit">Yes</button>
    </form>
</dialog>

