
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            LastName
        </th>
        <th>
            FirstMidName
        </th>
        <th>
            EnrollmentDate
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @await Component.InvokeAsync("StudentList", new {filter=""})
    </tbody>
</table>

@await Html.PartialAsync("_Delete")
